/* Reset de base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-image: url('background.jpg'); /* Remplacer 'background.jpg' par l'image de votre choix */
    background-size: cover;
    background-position: center;
    background: linear-gradient(to bottom, #007FFF 0%, #00BFFF 100%);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 74px;
    background-color: rgba(255, 255, 255, 0.5);
}

.logo {
    font-size: 24px;
    color: #333;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
    color: #333;
    margin: 15px;
    text-decoration: none;
}

.nav_links li a:hover {
    color: #017cff;
}

.button-container {
    display: flex;
    align-items: center;
    gap: 28px; /* Espacement entre les boutons */
}
.cta_ button {

    padding: 9px 25px;
    background-color: rgba(1, 124, 255, 0.75);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.cta button {
    padding: 9px 25px;
    background-color: rgba(1, 124, 255, 0.75);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    
}


.cta button:hover {
    background-color: rgba(1, 124, 255, 1);
}

.signup-form {
    background-color: rgba(255, 255, 255, 0.8);
    max-width: 400px;
    margin: 50px auto;
    padding: 30px;
    border-radius: 8px;
    margin-top: 30px;
}

.signup-form h2 {
    color: #333;
    margin-bottom: 20px;
}

.signup-form form {
    display: flex;
    flex-direction: column;
}

.signup-form input {
    margin-bottom: 10px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.signup-form button {
    background-color: #017cff;
    color: white;
    padding: 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.signup-form button:hover {
    background-color: #0056b3;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: cyan;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

#already_reg {

    margin-top: 15px;
    font-weight: bold;
    text-decoration: none;

}

#create {
    text-align: center;
}



#logo_site {

    width: 100px;
    height: 80px;
    margin-left: 15px;


}

#message-container {

        font-weight: bold;
        text-align: center;
}
